@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="h3 mb-4 text-gray-800">Admin Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
    </div>
</div>
