@{
    ViewData["Title"] = "Home Page";
}

<!-- Content section 1-->
<section>
    <div class="container px-4">
        <div class="row gx-4 align-items-center">
            <div class="col-6 order-2">
                <div class="p-4"><img class="img-fluid img-fluid-w100 rounded-circle" src="~/home/img/service.png" alt="service" /></div>
            </div>
            <div class="col-6 order-1">
                <div class="p-4">
                    <h2 class="display-4">Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-4">
        <div class="row gx-4 align-items-center">
            <div class="col-6">
                <div class="p-4"><img class="img-fluid img-fluid-w100 rounded-circle" src="~/home/img/portfolio.png" alt="portfolio" /></div>
            </div>
            <div class="col-6">
                <div class="p-4">
                    <h2 class="display-4">Portfolio</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-4">
        <div class="row gx-4 align-items-center">
            <div class="col-6 order-2">
                <div class="p-4"><img class="img-fluid img-fluid-w100 rounded-circle" src="~/home/img/team.png" alt="team" /></div>
            </div>
            <div class="col-6 order-1">
                <div class="p-4">
                    <h2 class="display-4">Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
