<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - theme</title>
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/home/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body id="page-body">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-body">theme</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/Home/SignUp">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/SignIn">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-4">
                <h1 class="masthead-heading mb-0">One Page Theme</h1>
                <h2 class="masthead-subheading mb-0">Rasel Ahmmed</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-4" href="#page-main">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Main-->
    <main id="page-main" role="main">
        @RenderBody()
    </main>
    <!-- Footer-->
    <footer class="py-4 bg-black">
        <div class="container px-4"><p class="m-0 text-center text-white small">Copyright &copy; 2024 - <a asp-area="" asp-controller="Home" asp-action="Index">Rasel Ahmmed</a></p></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="~/home/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
