<div class="well well-small">
    <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="#">Website Design & Development</a></li>
        <li><a href="#">ALL</a></li>
        <li><a href="#">Design (14)</a></li>
        <li><a href="#">SEO (18)</a></li>
        <li><a href="#">Development (8)</a></li>
        <li><a href="#">Optimizations (4)</a></li>
        <li><a href="#">Customizations (18)</a></li>
        <li><a href="#">Media</a></li>
    </ul>
</div>