@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <h2>Sample 1</h2>
        <p><a class="btn btn-default" href="/Home/Sample1">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 2</h2>
        <p><a class="btn btn-default" href="/Home/Sample2">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 3</h2>
        <p><a class="btn btn-default" href="/Home/Sample3">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 4</h2>
        <p><a class="btn btn-default" href="/Home/Sample4">Go</a></p>
    </div>
    <hr />
    <div class="col-md-3">
        <h2>Sample 5</h2>
        <p><a class="btn btn-default" href="/Home/Sample5">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 6</h2>
        <p><a class="btn btn-default" href="/Home/Sample6">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 7</h2>
        <p><a class="btn btn-default" href="/Home/Sample7">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sample 8</h2>
        <p><a class="btn btn-default" href="/Home/Sample8">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Raw Codex</h2>
        <p><a class="btn btn-default" href="/Home/RawCodex">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Raw Codex Details</h2>
        <p><a class="btn btn-default" href="/Home/RawCodexDetail">Go</a></p>
    </div>
</div>