@{
    Layout = null;
    ViewBag.Title = "placovu";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - My Theme Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Theme/RawCodex/css/bootstrap.min.css" type="text/css" media="screen" />
    <link href="~/Theme/RawCodex/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/RawCodex/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/RawCodex/css/base.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/RawCodex/css/base-custom.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section id="headerSection">
        <div class="container">
            <div class="navbar">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="brand-logo">
                        <a class="brand" href="#">
                            <img style="" src="~/Theme/RawCodex/placovu_logo.png" alt="logo" title="logo">
                        </a>
                    </div>
                    @Html.Partial("_RawCodexMenu")
                </div>
            </div>
        </div>
    </section>
    <!--Header Ends================================================ -->
    <!-- Page banner -->
    <section id="bannerSection" style="background:url(/Theme/RawCodex/images/banner/contact.png) no-repeat center center #000;">
        <div class="container">
            <h1 id="pageTitle">
                <small>Our Services :We believe in quality services</small>
                <span class="pull-right toolTipgroup">
                    <a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px" src="~/Theme/RawCodex/images/facebook.png" alt="facebook" title="facebook"></a>
                    <a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px" src="~/Theme/RawCodex/images/twitter.png" alt="twitter" title="twitter"></a>
                    <a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px" src="~/Theme/RawCodex/images/youtube.png" alt="youtube" title="youtube"></a>
                </span>
            </h1>
            <div class="user-info">
                Rasel Ahmmed, Nov 13-2018
            </div>
        </div>
    </section>
    <!-- Page banner end -->

    <section id="bodySection">
        <div id="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="thumbnail">
                            <h4>Web Design</h4>
                            <h5>Your Website represents You...</h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li>Website Design</li>
                                <li>PSD To XHTML &amp; CSS Conversion</li>
                                <li>Graphic Design (Coverpage, Logo, Brocer etc.)</li>
                            </ul>
                            <p>
                                <a href="details.html">Read more</a>
                            </p>
                        </div>
                        <br />
                        <div class="thumbnail">
                            <h4>Webpage Customizations</h4>
                            <h5>Drive your business in The Fast Track...</h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li> Customizing different websites  </li>
                                <li> E-commersesite, Blogs and Forums etc.</li>
                                <li> Customization web packages </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                        <br />
                        <div class="thumbnail">
                            <h4>SEO</h4>
                            <h5>For any online activities  ... </h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li>PSD to XHTML and CSS Conversion</li>
                                <li> Updating old website to new generation. </li>
                                <li> Compitable with different Browser. </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="thumbnail">
                            <h4>Website Development</h4>
                            <h5>For any online activities  ... </h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li>PSD to XHTML and CSS Conversion</li>
                                <li> Updating old website to new generation. </li>
                                <li> Compitable with different Browser. </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                        <br />
                        <div class="thumbnail">
                            <h4>Webpage Customizations</h4>
                            <h5>Drive your business in The Fast Track...</h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li> Customizing different websites  </li>
                                <li> E-commersesite, Blogs and Forums etc.</li>
                                <li> Customization web packages </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                        <br />

                        <div class="thumbnail">
                            <h4>Optimizations</h4>
                            <h5>For any online activities  ... </h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li>PSD to XHTML and CSS Conversion</li>
                                <li> Updating old website to new generation. </li>
                                <li> Compitable with different Browser. </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="thumbnail">
                            <h4>Webpage Customizations</h4>
                            <h5>Drive your business in The Fast Track...</h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li> Customizing different websites  </li>
                                <li> E-commersesite, Blogs and Forums etc.</li>
                                <li> Customization web packages </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                        <br />
                        <div class="thumbnail">
                            <h4>Webpage Customizations</h4>
                            <h5>Drive your business in The Fast Track...</h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li> Customizing different websites  </li>
                                <li> E-commersesite, Blogs and Forums etc.</li>
                                <li> Customization web packages </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                        <br />
                        <div class="thumbnail">
                            <h4>Multimedia</h4>
                            <h5>For any online activities  ... </h5>
                            <div class="btn-group toolTipgroup">
                                <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                            </div>
                            <ul class="unstyled">
                                <li>PSD to XHTML and CSS Conversion</li>
                                <li> Updating old website to new generation. </li>
                                <li> Compitable with different Browser. </li>
                            </ul>
                            <p><a href="details.html">Read more</a></p>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </section>
    <!-- Footer
    ================================================== -->
    <section id="footerSection">
        <div class="container">
            <footer class="footer well well-small">
                <p style="padding:0px; margin: 0px;">&copy; 2018, allright reserved </p>
            </footer>
        </div><!-- /container -->
    </section>

    <a href="#" class="btn" style="position: fixed; bottom: 38px; right: 10px; display: none; " id="toTop"> <i class="icon-arrow-up"></i> Go to top</a>
    <!-- Javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Theme/RawCodex/js/jquery-1.8.3.min.js"></script>
    <script src="~/Theme/RawCodex/js/bootstrap.min.js"></script>
    <script src="~/Theme/RawCodex/js/bootstrap-tooltip.js"></script>
    <script src="~/Theme/RawCodex/js/bootstrap-popover.js"></script>
    <script src="~/Theme/RawCodex/js/business_ltd_1.0.js"></script>

</body>
</html>